<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CAFA7D11785B06F00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC10E1785B63900647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC12D1785B93F00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1621785C33D00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1901785C6C000647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC19A1785C73A00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1A21785C76700647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1AA1785C77000647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1BA1785C78500647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1C21785C78F00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1CA1785C79600647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1D21785C7AC00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1DA1785C7B300647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAFC1E21785C7CB00647A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CBB42FF178C399D00FA270D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
